/*div border declaration for design purposes only */

div {
  border: 0px solid red;
}

body {
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
}

a:link, a:visited, a:hover, a:active{
  color: seashell;
}

.header {
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: black;
  top: 0px;
}

ul {
  list-style: none;
  padding-right: 20px;
}

nav span {
  display: inline-flex;
  padding: 10px;
  text-decoration: underline;
}

#mission {
  display: flex;
  margin: 0 auto;
  padding-top: 60px;
  justify-content: center;
}

.mission {
  height: 400px;
  width: 1200px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  text-align: center;
  padding-top: 300px;
}

.missiontext {
  margin: 0 auto;
  background-color: black;
}

.missiontext h2 {
  padding-top: 10px;
}

.missiontext h4 {
  padding-bottom: 10px;
}

#tea {
  margin: 0 auto;
  text-align: center;
}

.tearow1 {
  display: inline-flex;
  text-align: center;
  width: 1000px;
  justify-content: space-between;
  padding: 0px 300px;
}

.tearow2 {
  display: inline-flex;
  text-align: center;
  width: 650px;
  justify-content: space-between;
}

.teabox {
  width: 300px;
  height: 275px;
}

.teaboxtext {
  width: 300px;
}

.teaboxtext h4 {
  padding-top: 10px;
  margin: 0 auto;
}

#locations {
  height: 580px;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
}

#locations h2 {
  margin: 0 auto;
  padding: 80px 0px 15px 0px;
}

.locationsrow {
  display: inline-flex;
  text-align: center;
  width: 980px;
  justify-content: space-between;
}

.locationsbox {
  opacity: 1;
  width: 300px;
  background-color: black;
}

.locationsbox p {
  padding-top: 15px;
}

#footer {
  height: 200px;
  width: 100%;
  text-align: center;
}

#footer h2 {
  margin: 0 auto;
  padding-top: 10px;
}

#copyright {
  margin: 0 auto;
  text-align: left;
  padding-left: 20px;
}
